div{
    height: 50px;
    background-color:black ;
    font-size: 25px;
} 
a{
    color: aliceblue;
    font-size: 25px;
    margin-right: 160px;
    text-decoration: none;
}
#logo{
    color: orange;
}
button{
    background-color: orange;
    height: 40px;
    font-size: 25px;
    margin-left: 20px;
}
input{
     height: 30px;
     font-size: 25px;
     display: inline-block;

}
.contentarea{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  margin-top: 20px;
}
footer{
    margin-top: 20px;
    background-color: black;
    color: beige;
    text-align: center;
}