*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
     border:border-box;/* This will occupy/include the border space inside the content area, i.e., heigth and width set by the user  */  
    
    }
.Navbar{
     height: 60px;
     background: linear-gradient(to right,#0c4517,rgb(39, 97, 75));
     color: white;/*  for text  */
     display: flex;  
     align-items: center;
     justify-content: space-evenly;
}
.border{
    border: 2px solid transparent;/* this will create a transparent border around the divs which will not move the elements when hovered over them*/
}
.border:hover{
    border: 2px solid white;
}
.clickable{
    cursor: pointer; /* changes the cursor to hand symbol on hovering */
}


 /*  Box-1 : Amazon logo  */
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-position: center;
    background-size:cover;
    /* transform: scale(1.25); */
    height: 50px;
    width: 100%;
}
/* Box-2 : Deliver to India */

.add-first{
    margin-left: 20px;
    color: antiquewhite;
    font-size: 0.85rem;    /* to change the font size in relative to the root div, to make your styling more responsive */
}
.add-icons{
   display: flex; /* for displaying them in a single line */
   font-size: 1rem;
   font-weight: bold;
   align-items: center;  
   /* for horizontal axis alignment */
}
/* Box-3: Search bar */
.nav-search{
    display: flex;
    width: 900px;
    height: 40px;
    background-color: rgb(255, 0, 149);
    border-radius:5px;
}
.nav-search:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    caret-color: black;
}
.search-icon{
    background-color: #7b301d;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.search-select{
    background-color: #E6E6E6;
    color: rgb(99, 91, 91);
    width: 50px;
    font-size: 0.90rem;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.search-input{
    width:880px;
    font-size: 1.0rem;
}
/*Box-4: Country flag */
.flag{
   height: 22px;
   width: 80px;
   display: flex;
   align-items: baseline;
   
}
.american-flag{
    background-image: url("american_flag.png");
    background-position: center;
    background-size:cover;
    height: 13px;
    width: 20px;
}
.country-sym{
    font-size: medium;
    font-weight: bold;
    margin-left: 5px;
}
/* Box -5: Sign in */
.hello h5{
    font-size: 0.85rem;
    font-weight: lighter;
    color: antiquewhite;
  }
.acc{
    font-weight: bold;
    font-size: 0.9rem;
  }
/* Box-6: Returns & Orders */
.return h5{
    font-size: 0.85rem;
    font-weight: lighter;
  }
.order{
    font-weight: bold;
    font-size: 0.9rem;
}
/* Box-7:cart */
.nav-cart i{
   font-size: 30px;
   margin-right: -8px;
}
.nav-cart{
    font-size: 14px;
    font-weight: bold;
}
/* Panel div */
.panel{
    height: 40px;
    color: white;
    background-color: rgb(41, 110, 41);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-family: Arial, Helvetica, sans-serif;
  
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/* Box1- All */
.all{
    height: 39px;
    width: 60px;
    font-weight: bold;
    font-size: 0.90rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all i{
    font-size: 1.1rem;
}
.panel a{
    height: 39px;
    margin-left: 20px;
    padding: 0px 4px 0px 4px;
    display:flex;
    font-size: 0.90rem;
    font-weight: 500;
    align-items: center;
    color: antiquewhite;
    text-decoration: none;
}
/* Hero Section */
.hero-section{
    height: 100rem;
    width: 100%;
    background-color: rgb(181, 201, 252);
    /* display: flex; */
    position: relative;
}
.hero{
    /* This is a shorthand property that can set: background-image, background-position, background-size, background-repeat */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 60%,rgb(181, 201, 252) 100% ),url("hero1.jpg") center;
    background-position: center;
    background-size: cover;
    height: 600px;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;/*to place the objects in column frame, not in row(side by side)*/ 
    justify-content: center;
    align-items: center;/* positions the msg box div and image simultaneously */
    position: relative;
    /* background: #9fbed2; */
}
 .hero-msg{
    width: 100%;
 }
.msg{         /*animation of transition of gradients*/
    height: 40px;
    background: linear-gradient(
        90deg,
        rgb(38, 185, 129),
        rgb(150, 60, 168),
        rgb(85, 173, 236),
        rgb(196, 70, 70)
    );
    background-size: 300% 300%;/* .background-size makes the gradient bigger than the element, so moving background-position actually shows motion */
    display: flex;
    align-items: center;
    justify-content: center;/*postions the text inside the msg div accordingly*/
    font-size: 0.9rem;
    margin: 0px 20px 0px 20px;
    animation: backg 5s ease 2s 5 normal ;
}
@keyframes backg{
    0% {
        background-position: 0% 50%; /* x y : horizontal position  vertical pos */
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.msg a{
    color: rgb(30, 13, 45);
    margin-left: -4px;
}
.msg a:hover{
    text-decoration: underline;
    color: rgb(79, 40, 152);
}
/* shop-section  */
.shop-section{
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;    /* Place items in one row until there is no space left, then move to the next row, Browser tries to place boxes left → right,Once width exceeds container → next row */
    justify-content: space-evenly;
    align-items: center;
    top: 57%;
    gap: 20px;      /* 20px between boxes in row 1,20px between row 1 and row 2 */
}
.box{
    height: 420px;
    width: 345px;
    border: 2px solid transparent;
    background: #ffffff;
    /* display: flex;    */
}
.box-content{
    height: 100%;
  padding: 15px 0px 0px 20px;
}
.shop-image1{
    width: 310px;
    height: 330px;
    margin-top: 10px;
    flex: 1;
    background-image: url('shop1.jpg');
    background-size:cover;
    background-position: center;
}
.box-content a {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    color: #007185; /* Amazon-like link color */
    text-decoration: none;
    font-size: 0.8rem;
}
.box-content a:hover {
    text-decoration: underline;
}
h2{
    font-size: 1.3rem;
}
/* Box 2- 4 images  */
.img-grid{
    width: 95%;
    height: 330px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.img-item img{
    width: 100%;      /* fill the container width */
    height: 120px;    /* fixed height */
    object-fit: cover; /* maintain aspect ratio, crop if needed */
    background-size:cover ;
    background-position: center;
    object-fit: cover;
}
.img-item a{
    color: black;
    font-weight: lighter;
}
/* FOOTER */
/* Footer Panel 1 */
.f-panel1{
    height: 50px;
    background: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    color: #ffffff;
}
.f-panel2{
    height: 360px;
    background: #222f3d;
    justify-content: space-evenly;
    display: flex;
}
ul{
    padding-top: 40px;
    
}
ul a{
     display:block; 
     padding-bottom: 10px;
     color: #9dabbf; 
}
ul a:hover{
    text-decoration: underline;
    cursor: pointer;
}
ul p{
    padding-bottom: 15px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
}
.f-panel3{
    height: 110px;
    background: #222f3d;
    border-top: 0.25px solid rgb(124, 147, 164);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.amz-logo{
    height: 40px;
    width: 120px;
}
.logo2{
    background-image: url("amazon_logo2.png");
    background-position: center;
    background-size:cover;
    height: 40px;
    width: 100%;
}
.language{
    color: #b7cdde;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    border: 1px solid #88b0c6;
    border-radius: 4px;
}
.fa-globe {
margin-left: 5px;
}
.lang-sym{
    margin-left: 5px;
}
.fa-square-caret-down{
 margin-left: 40px;
}
.currency{
 height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b8c5dc;
    font-size: 0.9rem;
    border: 1px solid #88b0c6;
    border-radius: 4px;
}
.location{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b5cce4;
    font-size: 0.9rem;
    border: 1px solid #88b0c6;
    border-radius: 4px;
}
.f-panel4{
    height: 120px;
    background: #0c1926;
}







